name: Portainer Otomatik Dağıtım 

on:
  push:
    branches:
      - main 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    permissions:
      packages: write
      contents: read

    steps:
      - name: 1. Kodu Çek
        uses: actions/checkout@v4

      - name: 2. GitHub Container Registry'ye Giriş Yap
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }} 
          password: ${{ secrets.GITHUB_TOKEN }} 

      - name: 3. Docker İmajını Derle ve GHCR'ye Yükle (Build & Push)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/aflextr/cookie-grabber-website-image:latest 

      - name: 4. Portainer'ı Tetikle 
        run: curl -X POST ${{ secrets.PORTAINER_WEBHOOK }}
